@import "~bootstrap/scss/bootstrap";

@import './general/variables';
@import './general/mixin';
@import './general/general';
@import './general/variables';
@import './general/typography';
@import './general/utils';
@import './general/header';
@import './general/footer';

/*
.row {
    > * {
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        color: lightcoral;
        background-color: aquamarine;
        background-image: url('../img/laravel.png');
        background-size: 50px 50px;
    }
}

img {
    max-height: 150px;
}*/
