*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
}
.container{
  margin: 0 auto;
  width: 75%;
  max-width: 1200px;
}
.small_container{
  width: 60%;
  margin: 0 auto;
}
.upper_case{
  text-transform: uppercase;
}
