.jumbotron{
    cursor: pointer;
    height: 350px;
    background-size: cover;
    background-image: url(/resources/img/jumbotron.jpg);
    &:hover{
      filter: grayscale(70%);
      transition: 1s;
    }
}
