
//ALTEZZA
.ht{
  &-0{
    height: 0;
  }
  &-10{
    height: 10px;
  }
  &-20{
    height: 20px;
  }
  &-50{
    height: 50px;
  }
  &-80{
    height: 80px;
  }
  &-100{
    height: 100px;
  }
}

//LARGHEZZA
.w-100{
  width: 100%;
}

//FONT SIZE
.fs{
  &-10{
    font-size: 10px;
  }
  &-12{
    font-size: 12px;
  }
  &-14{
    font-size: 14px;
  }
}

//FONT WEIGHT
.fw{
  &-bold{
    font-weight: bold;
  }
}

//PADDING
.pr{
  &-10{
    padding-right: 10px;
  }
  &-30{
    padding-right: 30px;
  }
}

.pl{
  &-40{
    padding-left: 40px !important;
  }
  &-30{
    padding-left: 30px;
  }
}

.py{
  &-30{
    padding: 30px 0;
  }
  &-10{
    padding: 10px 0;
  }
}
.pb{
  &-20{
    padding-bottom: 20px;
  }
  &-80{
    padding-bottom: 80px;
  }
}

//MARGIN
.my{
  &-40{
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
.mb{
  &-30{
    margin-bottom: 30px 0;
  }
}


//COLORS
.primary_c{
  color: $primary-color;
}
.grey_color{
  color: $grey_color;
}
.blue_color{
  color: #003F5E;
}
.acqua_color{
  color: #37AAD9;
}


//LINE-HEIGHT

.ln{
  &-25{
    line-height: 25px;
  }
}

//BORDER
.bb{
  &-grey{
    border-bottom: 1px solid #E3E3E3;
  }
}

